<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	</head>
	
	<body>
	
		<form th:action="@{/process_signup}" th:object = "${user}" method = "post">
		
			<input type = "text" th:field="*{username}">
			<input type = "text" th:field="*{password}">
			<button type = "submit">Sign up</button>
		</form>
	
	</body>
</html>